/* Resetando margens do body */
body {
	margin: 0;
}

/* Estilos para textos */
.letras {
	position: relative;
	color: white;
	font-family: candara;
	margin: 0;
}

/* Centralizando elementos com flexbox */
.centralizar {
	display: flex;
	justify-content: center;
}

/* Estilos para o contêiner dos quadrados */
.quadrados {
	background-color: #1f1f1f;
	width: 450px;
	height: 300px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 0;
	grid-row-gap: 0;
	position: relative;
	top: 2%;
}

/* Estilos para cada quadrado */
.quadradomenor {
	user-select: none;
	background-color: white;
	border: 10px solid #1f1f1f;
	border-radius: 30px;
	width: 150px;
	height: 150px;
}

/* Estilos para a seção superior */
#cima {
	background-color: #26838d;
	width: 100%;
	height: 25%;
}

/* Estilos para a seção do meio */
#meio {
	display: flex;
	align-items: center;
	width: 100%;
	height: 5%;
}

/* Estilos para o botão de início */
#inicio {
	outline: none;
	color: #26838d;
	font-size: 20px;
	left: 35%;
	border: 1px solid #ccc;
	background-color: #fff;
}

/* Estilos para a seção inferior */
#baixo {
	background-color: #1f1f1f;
	width: 100%;
	height: 70%;
}

/* Estilos para a sobreposição */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: none; 
    z-index: 999; 
}

/* Estilos para a div de parabéns */
.parabens {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    z-index: 1000; 
}

/* Estilos para o título dentro da div de parabéns */
.parabens h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Estilos para o parágrafo dentro da div de parabéns */
.parabens p {
  font-size: 18px;
  margin-bottom: 20px;
}

/* Estilos para o botão dentro da div de parabéns */
.parabens button {
  background-color: #008000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Desabilitando seleção de texto para parágrafos e títulos */
p {
	user-select: none;
}

h2 {
	user-select: none;
}
